<nav class="navbar navbar-light bg-secondary">
    <div class="col">
        <img (click)="openNav()" class="img" src="../../../assets/imagen/menu.png" alt="">
    </div>
    <div class="col">
        <a class="navbar-brand">{{informacion.usuario.strNombre}}</a>
    </div>
    <div class="col text-center">
        <label> Estatus</label>
        <br>
        <span class="badge badge-warning">{{status}}</span>
    </div>
    <div class="col">
        <label> Vacaciones Disponibles</label>
        <br>
        <span class="badge badge-warning">0</span>

    </div>

</nav>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">Tipo empleado: {{informacion.usuario.strTipoEmpleado}}</a>
    <a href="#">#{{informacion.usuario.numNoEmpleado}}</a>
    <a routerLink="/pase-salida">Pase Saldia</a>
    <a routerLink="/solivaca">Vacaciones</a>
    <a routerLink="/vehiculo">Vehiculos</a>
    <a routerLink="/admin">Admin</a>
    <a (click)="logout()">Cerrar sesión</a>
</div>
<div class="container">
    <p class="text-center">UNIVERSIDAD TECNOLOGICA DE AGUASCALIENTES</p>
    <P class="text-center">SOLICITUD DE VACACIONES</P>
</div>
<div class="container">
    <script>
        document.getElementById("img-thumbnail").style.visibility = "hidden";
    </script>
    <img class="img-thumbnail" src="assets/imagen/Logo.gif">

    <form class="needs-validation" #myform="ngForm" (ngSubmit)="Registrarvacaciones()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nombre:</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="informacion.usuario.strNombre" disabled required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Departamento:</label>
                <input [(ngModel)]="informacion.usuario.idDireccion.ajsnDepartamento[0].strNombre" name="departa" #departa="ngModel" class="form-control" disabled required>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Dirección:</label>
                <input class="form-control" [(ngModel)]="informacion.usuario.idDireccion.strNombre" name="dire" #dire="ngModel" disabled required>
            </div>

        </div>

        <div class="form-row">
            
            <div class="form-group col-md-6">
                <label>Autorizo:</label>
                <select class="form-control " name="autoriza " #autoriza="ngModel" [(ngModel)]="paseVacacion.idAutoriza" [ngClass]="{ 'is-invalid': !autoriza.valid && autoriza.touched, 'is-valid': autoriza.valid}" required>
                    <option  *ngFor="let item of personas" value={{item._id}}>{{item.strNombre}}</option>
                  </select>
                <div class="invalid-feedback">
                    Ingrese quien autoriza.
                </div>
            </div>
        </div>
        <!-- <div class="form-row">
            <div class="form-group col-md-6">
                <label>Jefe Inmediato:</label>
                <select class="form-control">
                    <option selected>Choose...</option>
                    <option value="dato1">dato1</option>
                    <option value="dato2">dato2</option>
                     <option value="dato3">dato3</option>
            </select>
            </div>

        </div> -->


        <label>Fecha en que se desea tomar las vacaciones</label>
        <div class="form-row">
            <div class="form-group col-md-6">

                <label>De:</label>
                <input type="date" class="form-control" required [(ngModel)]="paseVacacion.adteFechas">
                <div class="invalid-feedback">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Al:</label>
                <input type="date" class="form-control" required>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
      


        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>