<nav class="navbar navbar-light bg-secondary">

    <div class="col">
        <img (click)="openNav()" class="img" src="../../../assets/imagen/menu.png" alt="">
    </div>
    <div class="col text-left">
        <a class="navbar-brand">{{informacion.usuario.strNombre}}</a>
    </div>

    <div class="col text-right">
        <label> Estatus</label>
        <br>
        <span class="badge badge-warning">{{status}}</span>
    </div>
    <div class="col text-right">
        <label> Vacaciones Disponibles</label>
        <br>
        <span class="badge badge-warning">{{informacion.usuario.numDiasDisponibles}}</span>
    </div>
</nav>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <label class="h5">Tipo empleado: {{informacion.usuario.strTipoEmpleado}}</label>
    <br>
    <label class="h5">No Empleado:{{informacion.usuario.numNoEmpleado}}</label>
    <button routerLink="/menu" class="btn btn-dark w-100">Menu</button>
    <button routerLink="/pase-salida" class="btn btn-dark  w-100">Pase Saldia</button>
    <button routerLink="/solivaca" class="btn btn-dark  w-100" *ngIf="informacion.usuario.strTipoEmpleado==='PTC'">Vacaciones</button>
    <button routerLink="/vehiculo" class="btn btn-dark  w-100" *ngIf="status=='En progreso'">Vehiculos</button>
    <button (click)="logout()" class="btn btn-danger  w-100">Cerrar sesión</button>
</div>
<div class="container">
    <p class="text-center">UNIVERSIDAD TECNOLOGICA DE AGUASCALIENTES</p>
    <P class="text-center">SOLICITUD DE VACACIONES</P>
</div>
<div class="container">
    <script>
        document.getElementById("img-thumbnail").style.visibility = "hidden";
    </script>

    <form class="needs-validation" #myform="ngForm" (ngSubmit)="Registrarvacaciones(paseVacacion)">
        <div class="form-row">
            <div class="form-group col">
                <label>Nombre:</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="informacion.usuario.strNombre" disabled required>
            </div>
            <div class="form-group col">
                <label>Dirección:</label>
                <input class="form-control" [(ngModel)]="informacion.usuario.idDireccion.strNombre" name="dire" #dire="ngModel" disabled required>
            </div>
        </div>
        <div class="form-row">
            <label>Autorizo:</label>
            <select class="form-control " name="autoriza " #autoriza="ngModel" [(ngModel)]="paseVacacion.idAutoriza" [ngClass]="{ 'is-invalid': !autoriza.valid && autoriza.touched, 'is-valid': autoriza.valid}" required>
                    <option  *ngFor="let item of usuarios" value={{item._id}}>{{item.strNombre}}</option>
                  </select>
            <div class="invalid-feedback">
                Ingrese quien autoriza.
            </div>
        </div>
        <!-- <div class="form-row">
            <div class="form-group col-md-6">
                <label>Jefe Inmediato:</label>
                <select class="form-control">
                    <option selected>Choose...</option>
                    <option value="dato1">dato1</option>
                    <option value="dato2">dato2</option>
                     <option value="dato3">dato3</option>
            </select>
            </div>

        </div> -->


        <label>Fecha en que se desea tomar las vacaciones</label>

        <div class="form-row" *ngFor="let item of fechas; let index=index">

            <div class="form-group input-group col">
                <label>Dia {{index+1}}</label>
                <input class="form-control " type="date" [(ngModel)]="fechas[index].fecha" name="a{{index}}" #a="ngModel" [ngClass]="{ 'is-invalid': !a.valid && a.touched,'is-valid': a.valid}" required>
                <div class="input-group-append ">
                    <button class="btn btn-danger btn-sm" (click)="eliminar(index) " id="button-addon2 " *ngIf="fechas.length !==1 && fechas.length==( index+1) " type="button">-</button>
                </div>
                <div class="invalid-feedback">
                    Ingrese un destino.
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" slot="end" (click)="agregar()">agregar</button>
        </div>




        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<div>

</div>