<app-nav></app-nav>
<div class="container ">
    <p class="text-center">UNIVERSIDAD TECNOLOGICA DE AGUASCALIENTES</p>
    <P class="text-center">SOLICITUD DE VEHICULO</P>
</div>
<div class="container">

    <form class="needs-validation" #myForm="ngForm">
        <div class="form-row">
            <div class="form-group col">
                <label>Fecha de Solicitud:</label>
                <input type="number" class="form-control" name="date" #date="ngModel" [(ngModel)]="pasevehiculo.numFechasolicitud" disabled required>
            </div>
            <div class="form-group col">
                <label>Unidad Solicitada:</label>
                <select class="form-control" name="unidad" #unidad="ngModel" [(ngModel)]="pasevehiculo.strUnidad" [ngClass]="{ 'is-invalid': !unidad.valid && unidad.touched,'is-valid': unidad.valid}" required>
                    <option value="0"></option>
            </select>
                <div class="invalid-feedback">
                    Ingrese una unidad.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nombre del Solicitante:</label>
                <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="informacion.usuario.strNombre" disabled required>
            </div>
            <div class="form-group col-md-6">
                <label>Placas:</label>
                <input type="text" class="form-control" name="placas" #placas="ngModel" [(ngModel)]="pasevehiculo.strPlacas" [ngClass]="{ 'is-invalid': !placas.valid && placas.touched,'is-valid': placas.valid}" required>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label>Servicio:</label>
                <select class="form-control" name="servicio" #servicio="ngModel" [(ngModel)]="pasevehiculo.strServicio" [ngClass]="{ 'is-invalid': !servicio.valid && servicio.touched,'is-valid': servicio.valid}" required>
                    <option value="local">Local</option>
                    <option value="foraneo">Foraneo</option>
                    
            </select>
                <div class="invalid-feedback">
                    Ingrese un tipo de servicio.
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Motivo:</label>
                <input type="text" class="form-control" name="motivo" #motivo="ngModel" [(ngModel)]="m" disabled required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Licencia:</label>
                <input type="number" class="form-control" name="licencia" #licencia="ngModel" [(ngModel)]="pasevehiculo.anyLicencia" [ngClass]="{ 'is-invalid': !licencia.valid && licencia.touched,'is-valid': licencia.valid}" required>
                <div class="invalid-feedback">
                    Ingrese licencia.
                </div>
            </div>
            <div class="form-group col">
                <label>Chofer:</label>
                <select class="form-control" name="chofer" #chofer="ngModel" [(ngModel)]="pasevehiculo.strChofer" [ngClass]="{ 'is-invalid': !chofer.valid && chofer.touched,'is-valid': chofer.valid}" required>
                    <option value="si">Si</option>
                    <option value="no">No</option>
            </select>
                <div class="invalid-feedback">
                    Ingrese si necesita chofer.
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label>Fecha de salida:</label>
                <input type="date" class="form-control" name="date" #date="ngModel" [(ngModel)]="e" disabled required>
            </div>

            <div class="form-group col">
                <label>Hora de salida:</label>
                <input type="time" class="form-control" name="horas" #horas="ngModel" [(ngModel)]="f" disabled required>
            </div>
        </div>
        <div class="form-row">


            <div class="form-group col">
                <label>Hora de Regreso:</label>
                <input type="time" class="form-control" name="horas" #horas="ngModel" [(ngModel)]="f" disabled required>
            </div>
            <div class="form-group col-md-6">
                <label>Quien autorizo:</label>
                <select class="form-control">
                <option value="0">Choose...</option>
                <option value="dato1">Jefe Inmediato</option>
                <option value="dato2">Jefe Servicios Generales</option>
                <option value="dato3" >Director Admon. y Finanzas</option>
                <option value="dato4">Rector</option>
                
        </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Observaciones:</label>
                <input type="text" class="form-control" name="observacion" #observacion="ngModel" [(ngModel)]="o">
            </div>
        </div>

        <button type="submit" class="btn btn-primary " [disabled]="!myForm.valid">Enviar</button>

    </form>



</div>