<app-nav></app-nav>

<div class="container my-5">


    <div class="row">
        <div class="row justify-content-center" style="padding-top: 50px;">
            <div class="col">
                <img src="../../assets/imagen/archive.png " alt=" " (click)="gotopass() " class="w-50 h-50 " style="margin-left: 25%; ">
                <button class="btn btn-outline-secondary w-100 " (click)="gotopass() ">Solcitud Pase Salida</button>
            </div>
            <div class="col" *ngIf="status=='En progreso'">
                <img src="../../assets/imagen/autobus.png" alt=" " class="text-center " (click)="gotovehiculo() " class="w-50 h-50 " style="margin-left: 25%; ">
                <button class="btn btn-outline-secondary w-100 " (click)="gotovehiculo() ">Solicitud de Vehiculo</button>
            </div>
            <div class="col" *ngIf="informacion.usuario.strTipoEmpleado==='PTC'">
                <img src="../../assets/imagen/island.png  " class="text-center " alt=" " (click)="gotovaca() " class="w-50 h-50 " style="margin-left: 25%; ">
                <button class="btn btn-outline-secondary w-100 " (click)="gotovaca() ">Solicitud de Vacaciones</button>
            </div>
        </div>
    </div>
    <app-modify-user></app-modify-user>