<app-nav2></app-nav2>
<div class="container my-5 ">
    <div class="text-center">
        <strong> <label>ALTA DE VEHICULO</label> </strong>
    </div>
    <br>
    <div>
        <div class="container">
            <div class="row ">
                <div class="col">
                    <h2>
                        <div class="p-3 mb-2 bg-secondary text-white text-center">Alta de Vehiculo</div>
                    </h2>
                    <hr>
                    <form class="needs-validation" #myForm="ngForm" (ngSubmit)="guardarvehiculo(myForm)">

                        <div class="form row">
                            <div class="col">
                                <label for="">Unidad</label>
                                <input type="text" class="form-control" name="unidad" #unidad="ngModel" [(ngModel)]="vehiculo.strUnidad" [ngClass]="{ 'is-invalid': !unidad.valid && unidad.touched,'is-valid': unidad.valid}" required>
                                <div class="invalid-feedback">
                                    Ingrese una unidad.
                                </div>
                            </div>
                            <div class="col">
                                <label for="">Marca</label>
                                <input type="text" class="form-control" name="marca" #marca="ngModel" [(ngModel)]="vehiculo.strMarca" [ngClass]="{ 'is-invalid': !marca.valid && marca.touched,'is-valid': marca.valid}" required>
                                <div class="invalid-feedback">
                                    Ingrese una marca.
                                </div>
                            </div>

                        </div>
                        <div class="form row">
                            <div class="col">
                                <label for="">Placa</label>
                                <input type="text" class="form-control" name="placa" #placa="ngModel" [(ngModel)]="vehiculo.strPlaca" [ngClass]="{ 'is-invalid': !placa.valid && placa.touched,'is-valid': placa.valid}" required>
                                <div class="invalid-feedback">
                                    Ingrese las placas.
                                </div>
                            </div>
                            <div class="col">
                                <label for="">Modelo</label>
                                <input type="text" class="form-control" name="modelo" #modelo="ngModel" [(ngModel)]="vehiculo.numModelo" [ngClass]="{ 'is-invalid': !modelo.valid && modelo.touched,'is-valid': modelo.valid}" required>
                                <div class="invalid-feedback">
                                    Ingrese una modelo.
                                </div>
                            </div>
                        </div>
                        <div class="form row">
                            <div class="col">
                                <label for="">Motor</label>
                                <input type="text" class="form-control" name="motor" #motor="ngModel" [(ngModel)]="vehiculo.strNodeMotor" [ngClass]="{ 'is-invalid': !motor.valid && motor.touched,'is-valid': motor.valid}" required>
                                <div class="invalid-feedback">
                                    Ingrese un motor.
                                </div>
                            </div>
                            <div class="col">
                                <label for="">NIV</label>
                                <input type="text" class="form-control" name="niv" #niv="ngModel" [(ngModel)]="vehiculo.strNIV" [ngClass]="{ 'is-invalid': !niv.valid && niv.touched,'is-valid': niv.valid}" required>
                                <div class="invalid-feedback">
                                    Ingrese una Niv.
                                </div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!myForm.valid" *ngIf="blnmostrar==true" class="btn btn-secondary font-weight-normal">Guardar</button>
                        <button type="button" *ngIf="blnmostrar==false" class="btn btn-secondary" (click)="actualizardatos(myForm)">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <strong><label>TABLA DE VEHICULOS</label></strong>
    </div>

    <br>


    <div class="container">
        <div class="row">
            <div class="col">
                <legend class="text-center">Reporte de Vehiculos</legend>
                <hr>
                <table class="table ">
                    <thead>
                        <th scope="col">UNIDAD</th>
                        <th scope="col">MARCA</th>
                        <th scope="col">PLACA </th>
                        <th scope="col">MODELO</th>
                        <th scope="col">MOTOR</th>
                        <th scope="col">N.I.V</th>
                        <th scope="col">Activar/Desactivar</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datos">
                            <th scope="row">{{item.strUnidad}}</th>
                            <td>{{item.strMarca}}</td>
                            <td>{{item.strPlaca}}</td>
                            <td>{{item.numModelo}}</td>
                            <td>{{item.strNodeMotor}}</td>
                            <td>{{item.strNIV}}</td>
                            <td><input type="checkbox" (change)="actualizarEstatus(item._id,item.blnEstatus)" [(ngModel)]="item.blnEstatus"></td>
                            <td><button class="btn btn-secondary" (click)="editar(item)">Editar</button></td>
                            <td><button class="btn btn-danger" (click)="eliminar(item._id)">Eliminar</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<app-add-user></app-add-user>