<app-nav></app-nav>
<div class="container">
    <nav class="navbar navbar-light bg-dark ">
        <div class="form-inline ">
            <button class="btn btn-primary mr-sm-2 ">Reportes</button>
            <button class="btn btn-light my-2 my-sm-0 "> + </button>
        </div>

        <form class="form-inline ">
            <input class="form-control mr-sm-2 " type="search " placeholder="Buscar " aria-label="Buscar ">
            <button class="btn btn-primary my-2 my-sm-0 " type="submit ">Buscar</button>
        </form>
    </nav>

    <div data-spy="scroll " data-offset="0 ">
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <div class="row ">
                    <div class="col ">
                        <h5 class="card-title ">No. Emleado: 1521</h5>
                        <p class="card-text ">Nombre del empleado</p>
                    </div>
                    <div class="col float-right ">
                        <button class="btn btn-primary mr-sm-2 " slot="end ">Editar</button>
                        <button class="btn btn-danger my-2 my-sm-0 " slot="end ">Eliminar</button>
                    </div>
                </div>
<!--jkhjkhjkhjkhjkhk-->
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
        <div class="card " style="width: 100%; ">
            <div class="card-body ">
                <h5 class="card-title ">No. Emleado: 1521</h5>
                <p class="card-text ">Nombre del empleado</p>
            </div>
        </div>
    </div>




</div>