<div class="container-fluid">
    <div class="h1 bg-secondary text-center">
        Administración de empleados, vehiculos y reportes
    </div>
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <button class="btn btn-primary" (click)="gotoreportes()">Reportes</button>
            <button class="btn btn-secondary" (click)="gotocrudvehiculos()">Administrar vehiculos</button>
        </div>


    </nav>
    <div class="row">

        <div class="col">
            <nav class="navbar navbar-light bg-light">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar" name="filter" [(ngModel)]="filterPost">
                </div>
            </nav>
            <div class="card" style="width: 100%;" *ngFor="let item of personas | filter:filterPost">
                <div class="card-body">
                    <div class="row">
                        <div class="col ">
                            <h5 class="card-title ">{{item.strNombre}}</h5>
                            <p class="card-text ">{{item.numNoEmpleado}}</p>
                            <p class="card-text">Dias disponibles: {{item.numDiasDisponibles}}</p>
                            <p class="card-text">Tipo de empleado: {{item.strTipoEmpleado}}</p>
                        </div>
                        <div class="col float-right ">
                            <button class="btn btn-primary mr-sm-2 " slot="end" (click)="editar(item._id)">Editar</button>
                            <button class="btn btn-danger my-2 my-sm-0" type="button" (click)="eliminarPersonas(item._id)" slot="end ">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="container" *ngIf="edit===false; else show">
                <div class="h1 bg-primary">
                    Agregar Usuario
                </div>
                <form (ngSubmit)="registrarUsuario(myForm)" #myForm="ngForm">
                    <div class="form-group">
                        <label for="">Numero de Empleado</label>
                        <input type="number" class="form-control" name="num" #num="ngModel" [(ngModel)]="Usuario.numNoEmpleado" [ngClass]="{ 'is-invalid': !num.valid && num.touched,'is-valid': num.valid}" required>
                        <div class="invalid-feedback">
                            Ingrese un número de empleado.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Nombre completo </label>
                        <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="Usuario.strNombre" [ngClass]="{ 'is-invalid': !nombre.valid && nombre.touched,'is-valid': nombre.valid}" required>
                        <div class="invalid-feedback">
                            Ingrese nombre completo .
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="">Dirección</label>
                        <select name="dire" class="form-control" #dire="ngModel" [(ngModel)]="Usuario.idDireccion" [ngClass]="{ 'is-invalid': !dire.valid && dire.touched,'is-valid': dire.valid}" required>
                            <option  *ngFor="let item of direcciones" value={{item._id}}>{{item.strNombre}}</option>
                        </select>
                        <div class="invalid-feedback">
                            Ingrese una dirección.
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="col">
                            <label for="">Tipo Empleado</label>
                            <select name="tipoEmp" class="form-control" #tipoEmp="ngModel" [(ngModel)]="Usuario.strTipoEmpleado" [ngClass]="{ 'is-invalid': !tipoEmp.valid && tipoEmp.touched,'is-valid': tipoEmp.valid}" required>
                            <option value="PA">Profesor Tiempo Completo</option>
                            <option value="PTC">Profesor Asignatura</option>
                        </select>
                            <div class="invalid-feedback">
                                Ingrese un tipo de empleado.
                            </div>

                        </div>
                        <div class="col ">
                            <label for="">Licencia*Puedes omitir esta parte*</label>
                            <input type="file" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Correo</label>
                        <input type="email" class="form-control" placeholder="example@utags.edu.mx" name="correo" #correo="ngModel" [(ngModel)]="Usuario.strEmail" [ngClass]="{ 'is-invalid': !correo.valid && correo.touched,'is-valid': correo.valid}" required>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="correo.touched&&!regexp.test(correo.value)">
                        Ingrese un correo valido
                    </div>


                    <div class="form-group">
                        <label for="">Ingresar Conraseña</label>
                        <input type="password" maxlength="8" minlength="8" class="form-control" name="password1" #password1="ngModel" [(ngModel)]="Usuario.strPassword" [ngClass]="{ 'is-invalid': !password1.valid && password1.touched,'is-valid': password1.valid}" required>
                        <div class="invalid-feedback">
                            Ingrese una contraseña.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Reingresar Conraseña</label>
                        <input type="password" maxlength="8" minlength="8" class="form-control" name="password2" #password2="ngModel" [(ngModel)]="pass" [ngClass]="{ 'is-invalid': !password2.valid && password2.touched,'is-valid': password2.valid}" required>
                        <div class="invalid-feedback">
                            Ingrese una contraseña.
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="password1.value!==password2.value">
                        Las contraseñas no coinciden
                    </div>
                    <button type="submit" class="btn btn-primary " [disabled]="!myForm.valid ">Registrar</button>
                </form>
            </div>
            <ng-template #show>
                <div class="container">
                    <div class=" h1 bg-primary">
                        <button type="button" class="btn btn-secondary" (click)="editar2()">Volver</button> Editar Usuario
                    </div>
                    <form class="needs-validation" (ngSubmit)="actualizarUsuario(myForm, persona._id)" #myForm="ngForm">
                        <div class="form-group">
                            <label for="">Numero de Empleado</label>
                            <input type="number" class="form-control" name="num" #num="ngModel" [(ngModel)]="persona.numNoEmpleado" disabled required>

                        </div>
                        <div class="form-group">
                            <label for="">Nombre completo </label>
                            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="persona.strNombre" disabled required>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">Dirección</label>
                                <input name="dire" class="form-control" #dire="ngModel" [(ngModel)]="persona.idDireccion.strNombre" disabled required>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="">Tipo Empleado</label>
                                <select name="tipoEmp" class="form-control" #tipoEmp="ngModel" [(ngModel)]="persona.strTipoEmpleado" [ngClass]="{ 'is-invalid': !tipoEmp.valid && tipoEmp.touched,'is-valid': tipoEmp.valid}" required>
                                <option value="PTC">Profesor Tiempo Completo</option>
                                <option value="PA">Profesor Asignatura</option>
                            </select>
                                <div class="invalid-feedback">
                                    Ingrese un tipo de empleado.
                                </div>

                            </div>
                            <div class="form-group col">
                                <label for="">Licencia*Puedes omitir esta parte*</label>
                                <input type="file" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Correo</label>
                            <input type="email" class="form-control" placeholder="example@utags.edu.mx" name="correo" #correo="ngModel" [(ngModel)]="persona.strEmail" disabled required>
                        </div>
                        <div class="form-group">
                            <label for="">Dias de vacaciones</label>
                            <input type="number" class="form-control" name="number" #number="ngModel" [(ngModel)]="persona.numDiasDisponibles" required>
                        </div>
                        <button type="submit" class="btn btn-primary " [disabled]="!myForm.valid ">Actualizar</button>
                    </form>
                </div>

            </ng-template>


        </div>
    </div>









</div>