<app-nav></app-nav>

<div class="container-fluid">
    <nav class="navbar navbar-light bg-light ">
        <div class="container">
            <button class="btn btn-primary" (click)="gotoreportes()">Reportes</button>
            <button class="btn btn-secondary" (click)="gotocrudvehiculos()">Administrar vehiculos</button>
        </div>


    </nav>
    <div class="row">

        <div class="col">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </nav>
            <div class="card" style="width: 100%;" *ngFor="let item of personas">
                <div class="card-body ">
                    <div class="row ">
                        <div class="col ">
                            <h5 class="card-title ">{{item.strNombre}}</h5>
                            <p class="card-text ">{{item.numNoEmpleado}}</p>
                            <p class="card-text">Dias disponibles: {{item.numDiasDisponibles}}</p>
                            <p class="card-text">Tipo de empleado: {{item.strTipoEmpleado}}</p>
                        </div>
                        <div class="col float-right ">
                            <button class="btn btn-primary mr-sm-2 " slot="end" (click)="editar(item._id)">Editar</button>
                            <button class="btn btn-danger my-2 my-sm-0" type="button" (click)="eliminarPersonas(item._id)" slot="end ">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="container" *ngIf="edit===false; else show">
                <div class="h1 bg-primary">
                    Agregar Usuario
                </div>
                <app-add-user></app-add-user>
            </div>
            <ng-template #show>
                <div class="container">
                    <div class=" h1 bg-primary">
                        <button type="button" class="btn btn-secondary" (click)="editar2()"></button> Editar Usuario
                    </div>
                    <app-modify-user></app-modify-user>
                </div>

            </ng-template>


        </div>
    </div>









</div>