<app-nav2></app-nav2>
<div class="container my-5">
    

    <form class="needs-validation" (ngSubmit)="ingresar(myForm)" #myForm="ngForm">
        <div class="form-group">
            <label for="">Ingrese Usuario</label>
            <input class="form-control" [(ngModel)]="usuario" maxlength="4" type="number" name="numEmpleado" #numEmpleado="ngModel" [ngClass]="{ 'is-invalid': (!numEmpleado.valid && numEmpleado.touched)||(numEmpleado.value<999||numEmpleado.value>9999),'is-valid': numEmpleado.valid}" required>
            <div class="invalid-feedback">
                Ingrese un usuario.
            </div>
        </div>
        <div class="form-group">
            <label for="">Contraseña</label>
            <input class="form-control" [(ngModel)]="pass" maxlength="8" type="password" name="password" #password="ngModel" [ngClass]="{ 'is-invalid': !password.valid && password.touched,'is-valid': password.valid}" required>
            <div class="invalid-feedback">
                Ingrese una contraseña.
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Ingresar</button>
            </div>
        </div>
    </form>
    <app-modify-user></app-modify-user>
</div>