<div clas="container">
    <nav class="nav-justified">
        <h3>Control de vacaciones, pases de salida personal y vehicular</h3>
    </nav>
    <div class="row justify-content-center">
        <div class="col">
            <img src="../../assets/imagen/archive.png" alt="" (click)="gotocovpas()">
            <button class="btn btn-primary" (click)="gotocovpas()">COVPAS</button>
        </div>
        <div class="col">
            <img src="../../assets/imagen/cctv.png" alt="" (click)="gotovigilancia()">
            <button class="btn btn-primary" (click)="gotovigilancia()">Vigilancia</button>
        </div>
        <div class="col">
            <img src="../../assets/imagen/employee.png" alt="" (click)="gotoadmin()">
            <button class="btn btn-primary" (click)="gotoadmin()">Admin</button>
        </div>
    </div>
</div>