<div clas="container">
    <nav class="navbar navbar-dark bg-dark text-center">
        <h3>Control de vacaciones, pases de salida personal y vehicular</h3>
    </nav>
    <div class="row justify-content-center">
        <div class="col">
            <img src="../../assets/imagen/archive.png" alt="" (click)="gotocovpas()" class="img-fluid ">
            <button class="btn btn-primary w-100" (click)="gotocovpas()">COVPAS</button>
        </div>
        <div class="col">
            <img src="../../assets/imagen/cctv.png" alt="" (click)="gotovigilancia()" class="img-fluid">
            <button class="btn btn-primary w-100" (click)="gotovigilancia()">Vigilancia</button>
        </div>
        <div class="col">
            <img src="../../assets/imagen/employee.png" alt="" (click)="gotoadmin()" class="img-fluid">
            <button class="btn btn-primary w-100" (click)="gotoadmin()">Admin</button>
        </div>
    </div>
</div>