<app-nav2></app-nav2>
<div class="container">

    <div class="row justify-content-center" style="padding-top: 100px;">
        <div class="col ">
            <img src="../../assets/imagen/archive.png " alt=" " (click)="gotocovpas() " class="w-50 h-50 " style="margin-left: 25%; ">
            <button class="btn btn-outline-secondary w-100 " (click)="gotocovpas() ">COVPAS</button>
        </div>
        <div class="col ">
            <img src="../../assets/imagen/cctv.png " alt=" " class="text-center " (click)="gotovigilancia() " class="w-50 h-50 " style="margin-left: 25%; ">
            <button class="btn btn-outline-secondary w-100 " (click)="gotovigilancia() ">Vigilancia</button>
        </div>
        <div class="col ">
            <img src="../../assets/imagen/employee.png " class="text-center " alt=" " (click)="gotoadmin() " class="w-50 h-50 " style="margin-left: 25%; ">
            <button class="btn btn-outline-secondary w-100 " (click)="gotoadmin() ">Admin</button>
        </div>
    </div>
    

    <app-modify-user></app-modify-user>


</div>
