<div class="container">
    <div class="text-center" style="width: 50%;">
        <img src="../../assets/imagen/Logo2.png" style="width: 100%; text-align: center;" alt="">
    </div>
    <form class="needs-validation" (ngSubmit)="registrarUsuario(myForm)" #myForm="ngForm">
        <div class="form-group">
            <label for="">Numero de Empleado</label>
            <input type="number" maxlength="4" class="form-control" name="numEmpleado" #numEmpleado="ngModel" [(ngModel)]="Usuario.numNoEmpleado" [ngClass]="{ 'is-invalid': !numEmpleado.valid && numEmpleado.touched,'is-valid': numEmpleado.valid}" required>
        </div>
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="Usuario.strNombre" [ngClass]="{ 'is-invalid': !nombre.valid && nombre.touched,'is-valid': nombre.valid}" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Dirección</label>
                <select name="dire" class="form-control" #dire="ngModel" [(ngModel)]="Usuario.idDireccion" [ngClass]="{ 'is-invalid': !dire.valid && dire.touched,'is-valid': dire.valid}" required>
                    <option value=1>1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                </select>

            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Tipo Empleado</label>
                <select name="tipoEmp" class="form-control" #tipoEmp="ngModel" [(ngModel)]="Usuario.strTipoEmpleado" [ngClass]="{ 'is-invalid': !tipoEmp.valid && tipoEmp.touched,'is-valid': tipoEmp.valid}" required>
                    <option value="1">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                </select>

            </div>
            <div class="form-group col-md-6">
                <label for="">Licencia*Puedes omitir esta parte*</label>
                <input type="file" class="form-control">
                <!--<input type="file" class="form-control" name="licencia" #licencia="ngModel" [(ngModel)]="Usuario.imgLicencia" >-->
            </div>
        </div>

        <div class="form-group">
            <label for="">Correo</label>
            <input type="email" class="form-control" placeholder="example@utags.edu.mx" name="correo" #correo="ngModel" [(ngModel)]="Usuario.strCorreo" [ngClass]="{ 'is-invalid': !correo.valid && correo.touched,'is-valid': correo.valid}" required>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="correo.touched&&!regexp.test(correo.value)">
            Ingrese un correo valido

        </div>


        <div class="form-group">
            <label for="">Ingresar Conraseña</label>
            <input type="password" class="form-control" maxlength="8" name="password1" #password1="ngModel" [(ngModel)]="Usuario.strPassword" [ngClass]="{ 'is-invalid': ((!password1.valid && password1.touched)||(password1.value!==password2.value)),'is-valid': password1.valid}"
                required>
        </div>
        <div class="form-group">
            <label for="">Reingresar Conraseña</label>
            <input type="password" class="form-control" maxlength="8" name="password2" #password2="ngModel" [(ngModel)]="pass" [ngClass]="{ 'is-invalid': ((!password2.valid && password2.touched)||(password1.value!==password2.value)),'is-valid': password2.valid}"
                required>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="password1.value!==password2.value">
            Las contraseñas no coinciden
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid ">Registrar</button>

    </form>

</div>